
.course-list-container{
  display: flex;
  flex-flow: row wrap;

  border-radius: 2px;
  padding: 10px 10px 30px;
  margin: 10px 10px 10px 10px;
  background-color: #ffffff;

}


.poll-container{
  display: grid;


}


.card-item{
  flex: 0 1 auto;
  padding: 3px 3px 3px 3px;

}

.fab-container {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 100;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}


